html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    align-items: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 118, 1) 39%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    min-height: 100vh;
    padding: 16px;
}

.card {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    border-radius: 16px;
    max-width: 624px;
    padding: 32px;
    width: 100%;
}

.person {
    align-items: flex-start;
    display: flex;
}

.person__description {
    font-size: 16px;
    line-height: 22px;
}

.person__description--last {
    margin-bottom: 0px;
}

.person__name {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.person__link {
    color: #E20613;
    text-decoration: none;
}

.person__photo {
    /* border-radius: 74px; */
    margin-right: 32px;
    transform: rotate(-135.00deg);
}

.person__position {
    color: #545454;
    font-style: italic;
    font-size: 18px;
}

.person__special {
    color: #ED6D05;
    font-weight: normal;
}